.ant-layout-sider-children{
    background-color: #985151cf;
}

.ant-layout-sider-trigger{
    background-color: #7b4242;
}
.ant-menu-title-content{
    color: #000;
}

.ant-menu-inline .ant-menu-item::after{
    color: #000;
}

.ant-menu-item, .ant-menu-item-selected, .ant-menu-item-only-child{
    background-color: #7b4242;
}

.ant-menu-inline-collapsed-noicon{
    color: #000;
}
.ant-menu {
    background-color: #9a5c5c9b;
}
.ant-menu-item {
    background: #7b4242;
}
.ant-table-container {
    background: #aa707073;
}
.ant-table-cell {
    background: #7b424256;
}